// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.cards {
  width: 100%;
  padding: 0;
}

.card {
  color: #fff;
  background: #33b;
  border-radius: 20px;
  padding: 10px;
  display: block;
  width: 100%;
}
