// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.list, div.list * {
  color: #fff;
  background: #44c;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
}
