<label> Title:
  <br>
  <input type="text" name="card[title]" id="card_title">
</label>
<br>
<label> Description:
  <br>
  <textarea name="card[description]" id="card_description"></textarea>
</label>
<br>
<input type="submit" value="Add Card" class="btn btn-warning">
